site_name: Geoff Schrecker's Family History Website
theme:
  name: material
  palette:
    #Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
nav:
  - Home: index.md
  - The Fleming Family History:
      - Fleming, William Edward Charlton 1843-1926: FlemingWEC1843.md
      - Fleming, William Edwin Charlton 1882-1946: FlemingWEC1882.md 
      - McIntyre, Violet Winifred 1897-1983: McIntyreVW1897.md 
  - The Schrecker Family History:
      - Bischitzky, Alice 1901-1987: BischitzkyA1901.md
      - Bischitzky, Emil 1868-1948: BischitzkyE1868.md
      - Bischitzky, Robert 1900-c.1942: BischitzkyR1900.md
      - Heller, Gabriella 1875-1962: HellerG1875.md
      - Neurath, Berta 1861-1931: NeurathB1861.md
      - Schrecker, Robert 1893-1957: SchreckerR1893.md
      - Schrecker, Theodor 1854-1921: SchreckerT1854.md


markdown_extensions:
  - attr_list
  - md_in_html
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
